## Tuples

The tuple object is roughly like a list that cannot be changed.

In [2]:
# A 4-item tuple
T = (1, 2, 3, 4)

In [3]:
# Length
len(T)

4

In [4]:
# Concatenation
T + (5, 6)

(1, 2, 3, 4, 5, 6)

In [5]:
# Indexing, slicing, and more
T[0]

1

In [6]:
#Tuples are immutable
T[0] = 2

TypeError: 'tuple' object does not support item assignment

In [9]:
# Make a new tuple for a new value
T = (2,) + T[1:]

T

(2, 2, 3, 4)

Like lists and dictionaries, tuples support mixed types and nesting, but they don’t grow and shrink because they are immutable (the parentheses enclosing a tuple’s items can usually be omitted, as done here):

In [11]:
T = 'spam', 3.0, [11, 22, 33]

In [12]:
T[1]

3.0

In [13]:
T[2][1]

22

In [14]:
T.append(4)

AttributeError: 'tuple' object has no attribute 'append'

# Numeric Types

Let’s get started by exploring our first data type category: Python’s numeric types and operations.

## Variables and Basic Expressions

In Python:
* Variables are created when they are first assigned values.
* Variables are replaced with their values when used in expressions.
* Variables must be assigned before they can be used in expressions.
* Variables refer to objects and are never declared ahead of time.

In [15]:
# Name created not declared ahead of time
a = 3
b = 4

In [16]:
# Addition (3 + 1), subtraction (3 − 1)
a + 1, a - 1

(4, 2)

In [17]:
# Multiplication (4 * 3), division (4 / 2)
b * 3, b / 2

(12, 2.0)

In [18]:
# Modulus (remainder), power (4 ** 2)
a % 2, b ** 2

(1, 16)

In [19]:
# Mixed-type conversions
2 + 4.0, 2.0 ** b

(6.0, 16.0)

In [20]:
type(2)

int

In [21]:
type(4.0)

float

In [22]:
type(2 + 4.0)

float

In [23]:
# calling a undefined object
c * 2

NameError: name 'c' is not defined

In [24]:
# Same as (4/2) + 3
b / 2 + a

5.0

In [25]:
# Same as 4 / (2+3)
b / (2 + a)

0.8

## Numeric Display Formats

In [26]:
num = 1 / 3.0

In [27]:
print(num)

0.3333333333333333

In [28]:
# String formatting Expression
'%e' %num

'3.333333e-01'

In [29]:
# Alternative floating-point format
'%.2f' %num

'0.33'

In [30]:
'%.4f' %num

'0.3333'

In [32]:
# newer format
'{0:0.4f}'.format(num)

'0.3333'

In [33]:
'{:.6f}'.format(3.141592653589793)

'3.141593'

## Comparisons: Normal and Chained

Normal comparisons compare the relative magnitudes their operands and return a Boolean result, which we would normally test and take action on in a larger statement and program:

In [34]:
# less than
1 < 2

True

In [35]:
# Greater than or equal: mixed-type 1 converted to 1.0
2.0 > 1

True

In [36]:
# Equal value
2.0 == 2.0

True

In [37]:
# Not equal value
2.0 != 2

False

In [38]:
2.0 is 2

False

In [39]:
2.0 == 2

True

In [40]:
X = 2
Y = 4
Z = 6

In [41]:
# Chained comparisons: range tests
X < Y < Z

True

In [42]:
X < Y and Y < Z

True

In [43]:
X < Y > Z

False

In [44]:
X < Y and Y > Z

False

In [45]:
# Shouldn't this be True?...
1.1 + 2.2 == 3.3

False

floating-point numbers may not always work as you’d expect, and may require conversions or other massaging to be compared meaningfully.

In [46]:
1.1 + 2.2

3.3000000000000003

In [47]:
int(1.1 + 2.2) == int(3.3)

True

## Bitwise operations

Python supports operators that treat integers as strings of binary bits. This can come in handy if your Python code must deal with things like network packets, serial ports, or packed binary data produced by a C program.

In [48]:
# 1 decimal is 0001 in bits
x = 1

0001

0100

In [49]:
# Shift left 2 bits
x << 2

4

0001

0010

OR: 0011

In [50]:
# Bitwise OR (either bit=1)
x | 2

3

In [51]:
# Bitwise AND (both bits=1)
x & 1

1

In [53]:
3 & 5 # 011 & 101 = 001

1

In [54]:
bin(4)

'0b100'

In [55]:
type(bin(4))

str

Here, the 0b prefix indicates the number is being displayed in binary

In [56]:
# Binary literals
X = 0b0001

In [57]:
X

1

In [58]:
# Shift left
X << 2

4

In [59]:
# Binary digits string
bin(X << 2)

'0b100'

In [60]:
# Bitwise OR: either
bin(X | 0b010)

'0b11'

In [61]:
# Bitwise AND: both
bin(X & 0b1)

'0b1'

You can use ``bit_length`` method to query the number of bits required to represent a number’s value in binary.

In [62]:
X.bit_length?

In [63]:
X = 8 # 1000
bin(X), X.bit_length(), len(bin(X)) - 2

('0b1000', 4, 4)

## Other Built-in Numeric Tools

In addition to its core object types, Python also provides both built-in functions and standard library modules for numeric processing.

In [64]:
import math

In [65]:
dir(math)

['__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [66]:
# Common constants
math.pi, math.e

(3.141592653589793, 2.718281828459045)

In [67]:
# Sine, tangent, cosine
math.sin(2 * math.pi / 180)

0.03489949670250097

In [68]:
# Square root
math.sqrt(144), math.sqrt(2)

(12.0, 1.4142135623730951)

In [69]:
# Exponentiation (power)
pow(2, 4), 2 ** 4, 2.0 ** 4.0

(16, 16, 16.0)

In [ ]:
# Absolute value, summation
abs(-42.0), sum((1, 2, 3, 4))

In [72]:
sum = sum((1,2,3, 4))

In [73]:
sum

10

In [74]:
sum((1,2,3,4))

TypeError: 'int' object is not callable

In [75]:
# Minimum, maximum
min(3, 1, 2, 4), max(3, 1, 2, 4)

(1, 4)

In [76]:
# Floor (next-lower integer)
math.floor(2.567), math.floor(-2.567)

(2, -3)

In [77]:
# Truncate (drop decimal digits)
math.trunc(2.567), math.trunc(-2.567)

(2, -2)

In [78]:
# Truncate (integer conversion)
int(2.567), int(-2.567)

(2, -2)

In [79]:
round?

In [80]:
# Round 
round(2.567), round(2.467), round(2.567, 2)

(3, 2, 2.57)

Interestingly, there are three ways to compute square roots in Python: using a module function, an expression, or a built-in function.

In [ ]:
import math

In [81]:
# Module
math.sqrt(144)

12.0

In [82]:
# Expression
144 ** 0.5

12.0

In [83]:
# Built-in
pow(144, .5)

12.0

Notice that standard library modules such as math must be imported, but built-in functions such as abs and round are always available without imports. In other words, modules are external components, but built-in functions live in an implied namespace that Python automatically searches to find names used in your program.

In [84]:
import time

In [85]:
start_time = time.time()

[math.sqrt(144) for i in range(10000)]

end_time = time.time()
print("Elapsed time to run math.sqrt(144) was: ",
      end_time - start_time, " seconds")

Elapsed time to run math.sqrt(144) was:  0.0015559196472167969  seconds

In [86]:
start_time = time.time()

[144 ** .5 for i in range(10000)]

end_time = time.time()
print("Elapsed time to run 144 ** .5) was: ",
      end_time - start_time, " seconds")

Elapsed time to run 144 ** .5) was:  0.00037097930908203125  seconds

In [87]:
start_time = time.time()

[pow(144, .5) for i in range(10000)]

end_time = time.time()
print("Elapsed time to run pow(144, .5)) was: ",
      end_time - start_time, " seconds")

Elapsed time to run pow(144, .5)) was:  0.0016260147094726562  seconds

The standard library random module must be imported as well. This module provides an array of tools, for tasks such as picking a random floating-point number between 0 and 1, and selecting a random integer between two numbers:

In [88]:
import joblib

ModuleNotFoundError: No module named 'joblib'

In [89]:
import random

In [91]:
random.random?

In [90]:
random.random()

0.8454948431488786

In [92]:
random.random()

0.22537479034601293

In [93]:
random.seed(100)

In [94]:
random.random()

0.1456692551041303

In [95]:
random.random()

0.45492700451402135

In [99]:
random.seed(853)

In [100]:
random.random()

0.4047089986828488

In [101]:
random.random()

0.8633971683355902

In [102]:
random.randint(1, 10)

6

In [106]:
random.randint(1, 10)

2

This module can also choose an item at random from a sequence, and shuffle a list of items randomly:

In [107]:
random.choice(['Life of Brian', 'Holy Grail', 'Meaning of Life'])

'Meaning of Life'

In [110]:
random.choice(('Life of Brian', 'Holy Grail',
               'Meaning of Life'))

'Meaning of Life'

In [116]:
suits = ['hearts', 'clubs', 'diamonds', 'spades']

In [117]:
random.shuffle(suits)

In [118]:
suits

['diamonds', 'clubs', 'hearts', 'spades']

## Sets

The set— an **unordered** collection of **unique** and **immutable** objects that supports operations corresponding to mathematical set theory. By definition, an item appears only once in a set, no matter how many times it is added. Accordingly, sets have a variety of applications, especially in numeric and database-focused work. a set acts much like the keys of a valueless dictionary, but it supports extra operations.

In [119]:
# Built-in call (all)
set([1, 2, 3, 4, 4])

{1, 2, 3, 4}

In [120]:
set('spam')

{'a', 'm', 'p', 's'}

In [121]:
S = {'s', 'p', 'a', 'm'}

In [122]:
S

{'a', 'm', 'p', 's'}

In [123]:
S.add('alot')

In [124]:
S

{'a', 'alot', 'm', 'p', 's'}

In [125]:
S1 = {1, 2, 3, 4}

In [126]:
# Intersection
S1 & {1, 3}

{1, 3}

In [127]:
# Union
{1, 5, 3, 6} | S1

{1, 2, 3, 4, 5, 6}

In [128]:
# Difference
S1 - {1, 3, 4}

{2}

In [129]:
# super set
S1 > {1, 3}

True

Sets can only contain **immutable** (a.k.a. “hashable”) object types. Hence, lists and dictionaries cannot be embedded in sets, but tuples can if you need to store compound values.

In [130]:
S = set()
S.add(1.23)

In [131]:
S

{1.23}

In [132]:
# Only immutable objects work in a set
S.add([1, 2, 3])

TypeError: unhashable type: 'list'

In [133]:
S.add({'a':1})

TypeError: unhashable type: 'dict'

In [134]:
S.add((1, 2, 3))

In [135]:
# No list or dict, but tuple OK
S

{(1, 2, 3), 1.23}

In [136]:
# Union: same as S.union(...)
S | {(4, 5, 6), (1, 2, 3)}

{(1, 2, 3), (4, 5, 6), 1.23}

In [139]:
S.add(([1,2], "ab"))

TypeError: unhashable type: 'list'

In [140]:
S

{(1, 2, 3), 1.23}

In [141]:
# Membership: by complete values
(1, 2, 3) in S

True

In [142]:
(1, 4, 3) in S

False

In [143]:
# Set comprehension
{x ** 2 for x in [1, 2, 3, 4, 4]}

{1, 4, 9, 16}

In [144]:
# Same as: set('spam')
{x for x in 'spam'}

{'a', 'm', 'p', 's'}

In [145]:
{c * 4 for c in 'spamham'}

{'aaaa', 'hhhh', 'mmmm', 'pppp', 'ssss'}

In [146]:
S | {'mmmm', 'xxxx'}

{(1, 2, 3), 1.23, 'mmmm', 'xxxx'}

In [147]:
 S & {'mmmm', 'xxxx'}

set()

Set operations have a variety of common uses, some more practical than mathematical. For example, because items are stored only once in a set, sets can be used to filter duplicates out of other collections, though items may be reordered in the process because sets are unordered in general. Simply convert the collection to a set, and then convert it back again

In [148]:
L = [1, 2, 1, 3, 2, 4, 5]
set(L)

{1, 2, 3, 4, 5}

In [149]:
# Remove duplicates
L = list(set(L))
L

[1, 2, 3, 4, 5]

In [150]:
# But order may change
list(set(['yy', 'cc', 'aa', 'xx', 'dd', 'aa']))

['aa', 'dd', 'xx', 'cc', 'yy']

Sets can be used to isolate differences in lists, strings, and other iterable objects too— simply convert to sets and take the difference—though again the unordered nature of sets means that the results may not match that of the originals.

In [151]:
# Find list differences
set([1, 3, 5, 7]) - set([1, 2, 4, 5, 6])

{3, 7}

In [154]:
# Find string differences
set('abcdefg') - set('abdghij')

{'c', 'e', 'f'}

You can also use sets to perform order-neutral equality tests by converting to a set before the test, because order doesn’t matter in a set. For instance, you might use this to compare the outputs of programs that should work the same but may generate results in different order. Sorting before testing has the same effect for equality, but sets don’t rely on an expensive sort, and sorts order their results to support additional magnitude tests that sets do not.

In [155]:
L1, L2 = [1, 3, 5, 2, 4], [2, 5, 3, 4, 1]

In [156]:
# Order matters in sequences
L1 == L2

False

In [157]:
# Order-neutral equality
set(L1) == set(L2)

True

In [158]:
# Similar but results ordered
sorted(L1) == sorted(L2)

True

In [168]:
start_time = time.time()

x = [set(L1) == set(L2) for i in range(10000)]

end_time = time.time()
elapsed_time = end_time - start_time
print("Elapsed time for set(L1) == set(L2) is",
      '{0:0.4f}'.format(elapsed_time))

Elapsed time for set(L1) == set(L2) is 19.2598

In [169]:
start_time = time.time()

x = [sorted(L1) == sorted(L2) for i in range(10000)]

end_time = time.time()
elapsed_time = end_time - start_time
print("Elapsed time for sorted(L1) == sorted(L2) is",
      '{0:0.4f}'.format(elapsed_time))

Elapsed time for sorted(L1) == sorted(L2) is 13.9078

Sets are also convenient when you’re dealing with large data sets (database query results, for example)—the intersection of two sets contains objects common to both categories, and the union contains all items in either set.

In [171]:
engineers = {'bob', 'sue', 'ann', 'vic'}
managers = {'tom', 'sue'}

In [172]:
# Is bob an engineer?
'bob' in engineers

True

In [173]:
# Who is both engineer and manager?
engineers & managers

{'sue'}

In [174]:
# All people in either category
engineers | managers

{'ann', 'bob', 'sue', 'tom', 'vic'}

In [175]:
# Engineers who are not managers
engineers - managers

{'ann', 'bob', 'vic'}

In [176]:
# Managers who are not engineers
managers - engineers

{'tom'}

In [177]:
# Are all managers engineers? (superset)
engineers > managers

False

In [178]:
# Are both engineers? (subset)
{'bob', 'sue'} < engineers

True

In [179]:
# Who is in one but not both?
managers ^ engineers

{'ann', 'bob', 'tom', 'vic'}

In [180]:
(managers | engineers) - (managers ^ engineers)

{'sue'}

## Booleans

Python today has an explicit Boolean data type called **bool**, with the values True and False available as preassigned built-in names. Internally, the names True and False are instances of bool, which is in turn just a subclass (in the object- oriented sense) of the built-in integer type int. True and False behave exactly like the integers 1 and 0, except that they have customized printing logic— they print themselves as the words True and False, instead of the digits 1 and 0.

In [181]:
type(True)

bool

In [182]:
isinstance(True, bool)

True

In [183]:
isinstance(True, int)

True

In [184]:
# The operator == compares values of both the operands
# and checks for value equality.
True == 1

True

In [185]:
# is operator checks whether both the operands refer to
# the same object or not.
True is 1

False

In [186]:
True or False

True